{% extends "base.html" %}
{% load static main_extras %}

{% block body %}

    <div class="app-tab" id="tabHome">
        <h1>Home</h1>
    </div>

    <div class="app-tab" id="tabBooks" style="display: none">
        <h1>Books</h1>
    </div>

    <div class="app-tab" id="tabContacts" style="display: none">
        <h1>Contacts</h1>
    </div>

    <div class="app-tab" id="tabAbout" style="display: none">
        <h1>About</h1>

        <p>Info about application here</p>
    </div>

{% endblock %}