{% extends "base.html" %}
{% load static main_extras %}

{% block head %}
    <script>
        App.booksData = {{ books|to_json|safe }};
        App.contactsData = {{ contacts|to_json|safe }};
    </script>
{% endblock %}

{% block body %}

    <div class="app-tab" id="tabHome">
        <h1>Home</h1>

        <div class="row">

            <div class="span8">

                <h2>Debts</h2>

                <div id="lentbooksView">

                    <a href="#" class="btn btn-primary" id="addLentBookButton">Loan a book</a>

                    <hr>

                    <table class="table-bordered table-condensed table-hover">
                        <tbody></tbody>
                    </table>

                </div>

            </div>

            <div class="span4">

                <div id="topcontactsView" class="well">
                    <h3>Top borrowers</h3>

                    <table class="table-condensed">
                        <tbody></tbody>
                    </table>

                </div>

                <div id="topbooksView" class="well">
                    <h3>Top books</h3>

                    <table class="table-condensed">
                        <tbody></tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

    <div class="app-tab" id="tabBooks" style="display: none">
        <h1>Books</h1>

        <div id="booksView">

        <a href="#" class="btn btn-primary" id="addBookButton">Add book</a>

        <hr>

        <table class="table-bordered table-condensed table-hover">
            <tbody></tbody>
        </table>

        </div>
    </div>

    <div class="app-tab" id="tabContacts" style="display: none">
        <h1>Contacts</h1>

        <div id="contactsView">

        <a href="#" class="btn btn-primary" id="addContactButton">Add contact</a>

        <hr>

        <table class="table-bordered table-condensed table-hover">
            <tbody></tbody>
        </table>

        </div>
    </div>

    <div class="app-tab" id="tabAbout" style="display: none">
        <h1>About</h1>

        <p>Info about application here</p>
    </div>

    {% js_template js/lentbook.html lentbook %}
    {% js_template js/book.html book %}
    {% js_template js/contact.html contact %}
    {% js_template js/top_book.html topBook %}
    {% js_template js/top_contact.html topContact %}

    {% js_template js/lentbook_form.html lentbookForm %}
    {% js_template js/book_form.html bookForm %}
    {% js_template js/contact_form.html contactForm %}

{% endblock %}